#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  padding: 2em;
}
